<Directory "/path/to/ultoy">
    Require all granted
    DirectoryIndex index.php index.html index.htm
    AllowOverride All
    Options Indexes FollowSymLinks SymLinksIfOwnerMatch

    RewriteEngine on
    RewriteRule .* /path/to/ultoy/src/php/route.php
</Directory>
